* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

body {
    background: rgb(255, 255, 255, 0.87);
}

/* Header */
.header {
    width: 100%;
    padding: 0 24px;

    box-sizing: border-box;

    background: rgb(255, 255, 255, 0.27);
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    max-width: 1234px;

    margin: 0 auto;
    padding: 12px 0;
}

.header__fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    animation-name: header__animation;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    font-weight: 700;
    font-size: 20px;

    text-decoration: unset;
    color: black;
}

ul {
    display: flex;
    gap: 5px;
}

ul>li {
    list-style: none;
}

.svg {
    display: flex;
    align-items: center;
    gap: 5px;
}

.svg h1 {
    font-size: 16px;
}

.main {
    max-width: 765px;
    width: 100%;

    padding: 64px 0;
    margin: 0 auto;
}

.content {
    height: 1200px;
}

.content h1 {
    color: #83019487;
    font-size: 55px;
}

.content h2 {
    color: #74289c94;
    font-size: 50px;
}

.content p {
    color: rgb(60, 60, 60, 0.5);
    padding: 12px;
    font-weight: 500;
    font-size: 20px;
}

.logo {
    display: flex;

    width: 100%;
    max-width: 132px;
}

/* Footer */
.footer {
    box-sizing: border-box;

    border-top: 1px solid rgb(233, 233, 233);
    padding: 0 24px;
}

.footer__wrapper {
    max-width: 1234px;
    display: block;
    
    margin: 0 auto;
    padding: 12px 0;    
}

.footer__description {
    text-align: center;
    color: rgb(0, 0, 0, 0.4);
    padding: 16px 0;
}

.footer__nav {
    display: flex;
    align-items: center;
}

.footer__nav a {
    font-weight: 700;
    font-size: 20px;

    text-decoration: unset;
    color: black;
}

@keyframes header__animation {
    from {
        background: rgb(255, 255, 255, 0.50);
        border-bottom: 1px solid rgb(233, 233, 233, 0.3);
    }

    to {
        background: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(233, 233, 233);
    }
}